.container {
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: 0;
}

.single-container {
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

@media (max-width: 350px) { 
    .timezone {
        font-size: 1.0em;
    }
    
    .time {
        font-size: 0.5em
    }
}

@media (min-width:350px) and (max-width: 500px) { 
    .timezone {
        font-size: 1.5em;
    }
    
    .time {
        font-size: 1.0em
    }
}

.timezone {
    font-family: "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: whitesmoke;
    margin-bottom: 0;
}

.time {
    font-family: "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: whitesmoke;
    margin-top: 0;
}